{% extends 'base.html' %}
{% load static %}

{% block title %} {{ article.title }} {% endblock title %}

{% block content %}

<div class="container">
<br />
<h2>{{ article.title }}</h2>
<strong> By {{ article.author }} | Written on: {{ article.created_on}}</strong>
<p> {{ article.body }} </p>
{% if user.is_staff %}
<a class="btn btn-primary" href="{% url 'article_edit' article.id %}">Edit</a>
<a class="btn btn-danger" href="{% url 'article_delete' article.id %}">Delete</a>
{% endif %}
{% endblock content %}